CONFIG_HELLOWORLD_CLUSTER=y
CONFIG_DRIVER_UDMAOCTOSPI=y
CONFIG_DRIVER_UDMAAES=y
CONFIG_DRIVER_CLUSTER_L1MALLOC=y
CONFIG_DRIVER_QUIDDIKEY=y
CONFIG_DRIVER_CRC32=y
CONFIG_DRIVER_TYPE_FLASH=y
CONFIG_DRIVER_MX25U51245G=y
CONFIG_DRIVER_MX25U51245G_BAUDRATE_DEFAULT=y
CONFIG_DRIVER_MRAM=y
CONFIG_DRIVER_HOSTFS=y
CONFIG_DRIVER_READFS=y
CONFIG_READFS_FLASH_TYPE_MRAM=y
CONFIG_DRIVER_PARTITION=y
CONFIG_DRIVER_FLASH_PARTITION_V2=y
CONFIG_FLASH_LAYOUT_CUSTOM=y
CONFIG_FLASH_LAYOUT_PATH="custom.layout"
